*{
    margin:0;
    padding:0;
}

.titulo_pl{
    text-align: center;
    padding: 100px 0px 30px 0px;
    font-size: 55px;
    font-family: verdana;
    font-weight:normal;
    box-sizing: border-box;
}

.planetas_1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 0;
    padding: 0px 0px 0px 0px;
    margin:auto;
    
}

.planetas_2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:;
    padding: 40px 0px 0px 0px;
    margin:auto;
}

.img_pl{
    border-color:black;
    border-width:0.5px;
    margin: 0px 0px 0px 30px;
    border-image: initial;
    border-style:solid;
    border-radius:10px;
    
}